
<html>
<head>
<title>Internal script </title>
</head>
<body><h1>
    <h1>
       <% if (blogs.length > 0) {%>
       <%  blogs.forEach(element => { %>
            <h1><%= element.title %></h1>
      <% }) %>  
      <%  } else{%>  
        
        <% } %>
        %>
    </h1>
</h1></body>
</html>